* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

.about-content {
    padding: 80px;
}

.icon {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(154, 165, 193);
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
}




.profile-image {
    border: solid 1.5px rgb(31, 30, 30);
    border-radius: 50%;
}


h6 {
    font-size: 6px;
    font-weight: lighter;
}

.headline {
    font-weight: bold;
    font-size: 36px;
}

.headline-name {
    color: rgb(63, 115, 255);
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

main {
    min-height: 80vh;
}

@media (max-width: 767px) {
    .profile-image-container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .about-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}