* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif; 
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

.about-content {
    padding: 0 0 80px 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
}

.secondary-content {
    margin: 160px 0 80px;
    font-size: 20px;
}

.icon {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(154, 165, 193);
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgba(232, 232, 232, 0.576);
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 60px;
    margin: auto;
}
.nav-items {
    display: flex;
}
.burger-nav {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}
.burger-line {
    background: rgb(142, 142, 142);
    border-radius: 3px;
    margin-bottom: 4px;
    width: 25px;
    position: relative;
    height: 2px;
    left: 2px;
}

/* Card */
.card-button {
    padding: 1px 3px;
}
.card-button:hover {
    transform: scale(1.1);
    background: #ededed;
}
.profile-image-container {
    display: flex;
    justify-content: center;
}
.profile-image {
    border-radius: 50%;
    width: 80%;
    max-width: 450px;

}

@keyframes slide-in {
    0% { transform: translateX(50vw);}
    70% { transform: translateX(50vw);}
    100% { transform: unset;}
}

/* Load prompts */

#hello-prompt {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s;
}

#show-name-prompt {
    animation: appear 2.5s;
}

#about-me-prompt {
    animation: appear 3.5s;
}

@keyframes typing {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes typing-2 {
  0% { width: 0%; }
  18% { width: 0%;}
  100% { width: 100%; }
}

@keyframes appear {

    0% { visibility: hidden; }
    90% { visibility: hidden; }
    100% { visibility: visible; }
}

/* Load prompts end */

h6 {
    font-size: 6px;
    font-weight: lighter;
}

.headline {
    font-weight: bold;
    font-size: 40px;
}

.headline-name {
    font-size: 56px;
    color: rgb(63, 115, 255);
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

main {
    min-height: 80vh;
}

@media (max-width: 991px) {
    .about-content {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
}

@media (max-width: 630px) {
    .custom-nav {
        display: none;
        font-size: 20px;
    }
    .custom-nav.open {
        display: flex;
    }

    .burger-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
    .burger-line {
        border-color: white;
    }
    .active-line-1 {
        transform: translateY(6px) rotate(45deg);
        transition: all 0.2s ease;
    }
    .active-line-2 {
        opacity: 0;
    }
    .active-line-3 {
        transform: translateY(-6px) rotate(-45deg);
        transition: all 0.2s ease;
    }

    .custom-nav {
        flex-direction: column;
        background: rgb(63, 115, 255);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        color: white;
        z-index: 1;
    }
    .nav-items {
        flex-direction: column;
        height: 40vh;
        width: 85%;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        line-height: 35px;
    }

    .nav-items li {
        text-align: center;
    }
}


.secondary-content,
.project-content {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-content {
    margin: 120px 0;
}