<header>
    <div class="header py-3 d-flex justify-content-between">
        <div class="icon"><a href="index.html">Better Web Solutions</a></div>
        <div class="nav pt-1">
            <nav>
                <ul class="d-flex">
                    <!--<li><a class="mx-3" href="">About</a></li>-->
                    <li><a class="mx-3" href="./portfolio.html">Portfolio</a></li>
                    <li><a class="mx-3" href="./team.html" style="white-space: nowrap;">Meet the Team</a></li>
                </ul>
            </nav>                    
        </div>
        <!-- Burger Menu todo--> 
    </div>
</header>