header,
.project-content,
.footer {
    animation: appear-2 7s;
    transition: ease-in;
}

@keyframes appear-2 {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}