.portfolio-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    column-gap: 10px;
}

.portfolio-card {
    max-width: 600px;
    padding: 20px 25px;
}
.portfolio-card:hover {
    background: rgb(225, 225, 225);
    border-radius: 3px;
    box-shadow: -1px -1px 2px 1px rgb(186, 186, 186);;
}

.portfolio-content {
    display: flex;
    column-gap: 20px;
    min-height: 100px;
    height: 15vh;
}

.project-img-container {
    flex: 1;
    height: 65%;
}
.project-img {
    max-width: 95%;
    min-width: 70%;
    height: 100%;
    border: solid 2px rgb(215, 214, 214);
    border-radius: 4px;
}
.project-img-1 {
    height: 100%;
}
.project-img-2 {
    background: url('https://www.getbws.com/assets/product-pricing-page.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
}
.project-title {

}
.project-description {
    font-size: .9em;
    color: rgb(112, 111, 111);
}
.project-tags {
    padding-top: 10px;
}
.project-tags ul {
    display: flex;
}
.project-tags li {
    margin-right: 4px;
}
.tag {
    padding: 1px 5px;
    background: rgb(46, 109, 105);
    border-radius: 5px;
    color: rgb(65, 255, 185);
    font-size: 10px;
}

@media (max-width: 425px) {
    .portfolio-card:hover {
        background: unset;
        border-radius: unset;
        box-shadow: unset;
    }
}