.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    column-gap: 20px;
    row-gap: 40px;
    text-align: center;
}

.team-card {
    border: none !important;
}

.team-title {
    font-weight: bold;
    padding-top: 10px;
}

.img {
    min-height: 75%;
    border-radius: 50%;
}

@media (max-width: 403px) {
    .team-container {
        display: flex;
        flex-direction: column;
    }

    .team-card {
        max-width: 70vw;
        min-width: 200px;
        margin: auto;
    }
}