.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    column-gap: 20px;
    row-gap: 40px;
    text-align: center;
}

.team-card {
    border: none !important;
}

.team-title {
    font-weight: bold;
    padding-top: 10px;
}

.img {
    min-height: 80%;
    border-radius: 50%;
    border: solid 1.5px rgb(31, 30, 30);
}

@media (max-width: 443px) {
    .team-container {
        justify-content: center;
    }
}